@font-face {
  font-family: "Oxanium";
  src: url("/assets/fonts/Oxanium.ttf") format("truetype"),
  url("/src/assets/fonts/Oxanium.ttf") format("truetype");
}

@font-face {
  font-family: "Changa";
  src: url("/assets/fonts/Changa.ttf") format("truetype"),
  url("/src/assets/fonts/Changa.ttf") format("truetype");
}

:root {

  --primary-color: #110D1D;
  --primary-color-opaque: #110D1De0;
  --secondary-color: #E2E2E2;
  --secondary-color-opaque: #E2E2E220;
  --accent-color-1: #EE00FF;
  --accent-color-2: #00FFFF;
  --accent-color-1-opaque: #EE00FF47;
  --accent-color-2-opaque: #00FFFF47;
  --background-color: #1e1e1e;
  --background-color-opaque: #1e1e1ea0;



  /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: Changa, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;


  color-scheme: light dark;
  color: var(--font-color);
  /*background-image: linear-gradient(90deg, var(--accent-color-1), var(--accent-color-2));*/

  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

.site-header {
  /*background-color: var(--primary-color);*/
  color: var(--secondary-color);
  width: 100vw;
  box-sizing: border-box;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*display: grid;*/
  /*grid-template-columns: 2fr 1fr 1fr;*/
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: 100;
  min-height: 8vh;
}

.site-header #nav-menu-toggle{
  display: none;
  z-index: 101 !important;

}

body{
  margin: 0;

}
button{
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

#logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: Oxanium, sans-serif;
  text-indent: 1rem;
  color: var(--secondary-color);
  transition: 0.5s font-weight;
  flex-grow: 0;
  width: 9rem;
}

#logo:hover{
  background-image: linear-gradient(0deg, var(--accent-color-1), var(--accent-color-2));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bold;
}
#nav-container{
  display: flex;
  flex-direction: row;

  margin: 0.2rem;
}

#nav-container ul {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-opaque);
  border: 1px solid var(--secondary-color);
  border-radius: 5rem;
}

#nav-container ul li {
  cursor: pointer;
  box-sizing: border-box;
  float: left;
  padding: 0.2rem;
  text-decoration-thickness: 0;
  transition: 0.3s;
}

#nav-container ul li:hover {
  background-color: var(--secondary-color);
  border-radius: 0.2rem;
  color: var(--primary-color);
  box-shadow: var(--accent-color-1) 0.2rem -0.2rem 0, var(--accent-color-2) -0.2rem 0.2rem 0;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  transition: 0.3s;
}

#nav-container ul li a, #nav-container ul li a:visited {
  text-decoration: none;
  color: inherit;
}
/*#about {*/
/*  padding: 4rem;*/
/*  width: 80%;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*  margin: auto;*/
/*}*/

.animate-on-scroll{
  visibility: hidden;
  opacity: 0;
}

.scroll-effect{
  visibility: visible;
  animation: blurIntoFrame 0.5s forwards linear;
}

@keyframes blurIntoFrame {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.tooltip-container{
  position: relative;
  display: inline-block;
}

.tooltip-body{
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  text-align: center;
  position: absolute;
  bottom: -85%;
  z-index: 10;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
  border-radius: 10%;
  transform: translateX(-20%);
  width: 100%;
  font-size: medium;
  flex-wrap: wrap;
}

.a-button{
  text-decoration: none;
}
.a-button:visited{
  color: inherit;
}
.no-pointer-events {
  pointer-events: none;
}
#nav-container button{
  float: right;
  padding: 0.2rem;
}
#mobile-nav-menu{
  display: none;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 101;
}
#mobile-nav-menu div {
  display: flex;
  width: 100%;
  justify-content: end;
}
#mobile-nav-cancel{
  fill: var(--secondary-color);
  padding: 0.2rem;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
  background-color: transparent;
  margin: 1rem 1rem 0 0;
}
#mobile-nav-menu ul{
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

#mobile-nav-menu ul li{
}

#mobile-nav-menu ul li a button{
  text-decoration: none;
  color: var(--secondary-color);
  width: 80vw;
  height: 10vh;
  font-family: Oxanium, sans-serif;
  font-size: 1.5rem;
}

.mobile-active{
  display: none !important;
}

#mobile-menu{
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 100%;
}
#mobile-menu button{
  height: 2rem;
  width: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#splash{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 100%;
  margin: 0;
}
#splash-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0;
  margin: 1rem 0 0;
}
#splash-intro{
  color: var(--secondary-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#splash-intro h1{
  font-size: 3rem;
}
#splash-intro ul{
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  font-size: 1.2rem;
}

#splash-intro ul li{
  transition: 0.3s ease;
}

#splash-intro ul li:hover{
  transition: 0.3s ease;
  transform: scale(1.1);

}

.near-full-container{
  display: flex;
  flex-direction: row;
  width: 75%;
}

.full-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.tron-background{
  /*background-attachment: fixed;*/
  /*background-position: center;*/
  background-size: 60px 60px;
  background-image: linear-gradient(to right, var(--accent-color-2-opaque) 2px, transparent 1px),
  linear-gradient(to bottom, var(--accent-color-1-opaque) 2px, transparent 1px);
  background-color: var(--primary-color);
  animation: cycleBG 10s linear infinite;
}

.moved-up{
  translate: 0 -1.5rem !important;
}

@keyframes cycleBG {
  from {
    background-position: 0 0;
  }
  to{
    background-position: -300px -300px;
  }
}

@keyframes slideUp {
  from{
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromDown {
  from {
    transform: rotate(-45deg) translateX(0) translateY(100%);
    opacity: 0;
    z-index: -10;
  }
  to {

    transform: rotate(-45deg) translateX(0) translateY(0);
    opacity: 1;
    z-index: 10;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes marquee-crawler {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.counterclockwise-skew {
  transform: skewY(-2deg);
}


.marquee-container {
  box-sizing: border-box;
  height: 4rem;
  overflow: hidden;
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}
.marquee-track{
  box-sizing: border-box;
  display: flex;
  width: max-content;
  animation: marquee-crawler 15s linear infinite;
}
.marquee-content{
  box-sizing: border-box;
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
  white-space: nowrap;
}
.marquee-item {
  color: var(--secondary-color);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}
#splash-outline{
  background-color: var(--secondary-color);
  mask-image: url("/src/assets/images/HCScott.png");
  -webkit-mask-image: url("/src/assets/images/ScottOutlineWhite.png");

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;

  /*width: 360px;*/
  /*height: 360px;  */
  /*width: 468px;*/
  /*height: 468px;*/
  width: 500px;
  height: 500px;

  animation: slideFromDown 0.6s linear;
  transition: 0.3s all ease;

}
#splash-content{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
  width: 80%;
  text-align: center;
  color: var(--secondary-color);
  justify-content: center;
}

.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#splash button{
  padding: 2rem;
  font-size: 24px;
  font-family: Changa, sans-serif;
  animation: fadeDown 0.3s linear;
  transition: 0.3s all ease;
  opacity: 0;
  animation-fill-mode: forwards;
}
#splash button:nth-child(1){
  animation-delay: 0.5s;
}
#splash button:nth-child(2){
  animation-delay: 0.6s;
}



.square-tile{
  min-height: 8rem;
  min-width: 8rem;
  border-radius: 20%;
  background-color: var(--primary-color-opaque);
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease;
}
.square-tile:hover{
  background-color: var(--primary-color);
  border-color: var(--accent-color-1);
  box-shadow: var(--accent-color-2) 0 0 0.5rem;
  scale: 1.1;
  transition: 0.3s all ease;
}
.long-tile img, .square-tile img {
  width: 6rem;
  height: 6rem;
  border-radius: 20%;
}
.icon-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.long-tile{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.long-tile-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.above-z{
  z-index: 10;
}
#splash-intro h1 {
}
.diamond-container{
  /*width: clamp(300px, 80% ,390px);*/
  /*height: clamp(300px, 80% ,390px);*/
  width: 360px;
  height: 360px;
  margin: 50px auto;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color-opaque);
  transform: rotate(45deg);
  overflow: hidden;
  position: relative;
  box-shadow: var(--accent-color-2-opaque);
  border-radius: 0 4rem;
}
.diamond-content {
  transform: rotate(-45deg) translateY(0%);
}

.split{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex-split{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.masked-background {

  background-image: linear-gradient(210deg, var(--accent-color-1), var(--accent-color-2));
  height: 500px;
  width: 500px;
  mask-image: url("/src/assets/images/HCScott3.png");
  -webkit-mask-image: url("/src/assets/images/HCScott3.png");

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;

}

.no-copy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.strong-text{
  font-weight: bold;
}

section.page {
  color: var(--secondary-color);
  display: grid;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 3rem 8vw;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  gap: 1rem;
}
.container-title{
  float: left;
}
.container-content{
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;

}
.expand-size{
  width: 100vw !important;
  padding: 5rem 0;
}
.arrange-row{
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  /*width: 100%;*/
  /*gap: 1rem;*/
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@keyframes underlineNav {
  from {
    text-decoration: underline;
    text-decoration-thickness: 0;
  }
  to{
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
  }
}

@keyframes removeUnderlineNav {
  from {
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
  }
  to{
    text-decoration: none;
    text-decoration-thickness: 0;
  }
}

.nav-list li.active *{
  animation: underlineNav 0.3s forwards linear;
  animation-delay: 0.5s;
}
.nav-list li.inactive *{
  animation: removeUnderlineNav 0.3s forwards linear;
}
/*.nav-list li.active{*/
/*  background-image: linear-gradient(120deg, var(--accent-color-1), var(--accent-color-2));*/
/*  background-clip: text;*/
/*  -webkit-background-clip: text;*/
/*  color: transparent;*/

/*}*/
#follow-mouse{
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--accent-color-2), var(--accent-color-1));
  translate: -50% -50%;
  pointer-events: none;
  /*mix-blend-mode: difference;*/
  z-index: 100;
  filter: blur(10px);
}

#social-links a#mail-link:hover svg {
  fill: var(--accent-color-1);
  scale: 1.1;
}
#social-links a#linkedin-link:hover svg {
  fill: var(--accent-color-2);
  scale: 1.1;
}
#mobile-nav-menu #social-links{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem 0 0;
}
#skills {
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 0;
}
.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.flex-row{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}
.tech-icon-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 0;
  padding: 0;
}

.icon-list-items{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  flex-wrap: wrap;
  /*max-height: 60%;*/
}
.icon-list-items li, .tech-icon-list li{
  max-width: 6rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  text-align: center;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  gap: 0.2rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: var(--secondary-color-opaque);
  opacity: 1;
  /*box-shadow: var(--secondary-color-opaque) 0 2px 0.5rem;*/
  box-shadow: inset var(--secondary-color) 0 2px 0.5rem, var(--secondary-color) 0 2px 0.3rem;
  transition: 0.3s;
  cursor: default;

}

.tech-icon-list li:hover{
  box-shadow: inset var(--secondary-color) 0 2px 1rem;
  /*translate: 0 -10%;*/
  /*scale:1.1;*/
}

.gap-1{
  gap:1rem;
}

.gap-4{
  gap:4rem;
}


.exp-item{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  border: 1px solid var(--secondary-color);
  width: 30rem;
  padding: 0.8rem;
  margin: 1.2rem 0 0;
  border-radius: 0.5rem;
  transition: 0.3s all ease;
  /*filter: drop-shadow(var(--secondary-color-opaque) 0 0 0.5rem);*/
  box-shadow: var(--secondary-color-opaque) 0 2px 0.5rem;
}

.exp-item:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  /*box-shadow: var(--accent-color-2) -0.5rem -0.5rem 0.5rem, var(--accent-color-1) 0.5rem 0.5rem 0.5rem;*/
  box-shadow: var(--accent-color-1) 0.5rem -0.5rem 0.2rem, var(--accent-color-2) -0.5rem 0.5rem 0.2rem;
  scale: 1.1;
  transition: 0.3s all ease;
}

.exp-image{
  height: 5rem;
  width: 5rem;
  border-radius: 20%;
  filter: drop-shadow(0 2px 4px #444444);

}
.exp-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.exp-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container br{
  gap: 1rem;
  margin: 10px 0;
}

.experience-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--secondary-color);
  justify-self: center;
}

.experience-card{
  /*width: 900px;*/
  width: clamp(900px,  80%, 1400px);
  /*max-width: 40vw;*/
  border: 1px solid #444;
  padding: 2rem;
  border-radius: 0.3rem;
  transition: 3s;
}

.unviewCard{
  transform: scale(1);
  transition: 0.3s;
}

.viewCard{
  transform: scale(1.02);
  transition: 0.3s;
}


@keyframes delayed-border {
  from {
    border-color: transparent;
  }
  to{
    border-color: var(--secondary-color);
  }
}

@keyframes fade-from-left{
  from {
    visibility: visible;
    display: block;
    opacity: 0;
    transform: translateX(-100%);
  }
  to{
    display: block;
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-to-left{
  from {

    opacity: 1;
    transform: translateX(0%);
  }
  to{
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
  }
}

.viewCard:hover{}

.experience-menu-container.active{
  display: block;
  height: 100vh;
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 0.25rem;
  margin: 0;
  opacity: 0;
  animation: fade-from-left 0.5s forwards;
  z-index: 101;
}
.experience-menu-container.inactive{
  height: 100vh;
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.25rem;
  margin: 0;
  animation: fade-to-left 0.5s forwards linear;

}

.experience-menu{
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;

}

.experience-menu-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1.5rem;
  border-radius: 10rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color-opaque);
  box-sizing: border-box;
}

.experience-menu-item{
  margin: 0;
  transition: 0.3s;
}


.experience-menu-item.inactive{
  scale: 1;
  transition: 0.3s;
}

.experience-menu-item.active{
  scale: 1.2;
  transition: 0.3s;
  transition-delay: 1s;
}

.experience-menu-item.active *.experience-menu-img{
  transition: 0.3s;
  border: 2px solid transparent;
  animation-delay: 1s;
  animation: delayed-border 1s forwards linear;
  padding: 4px;
}

.experience-menu-item:hover, .experience-menu-item:focus, .experience-menu-item.inactive:hover, .experience-menu-item.inactive:focus{
  scale: 1.15;
  transition: 0.3s;
}

.experience-menu-button{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  text-align: inherit;
  font: inherit;
  appearance: none;
  cursor: pointer;
  border-radius: 1rem;
}
.experience-menu-button:focus, .experience-menu-button:hover{
  outline: revert;
  cursor: pointer;
}
.experience-menu-img{
  border-radius: 20%;
  filter: drop-shadow(0 2px 4px #444444);
  height: 40px;
  width: 40px;
}


.education .experience-card{
  box-shadow: inset var(--secondary-color) 0 2px 1rem;
}
.work .experience-card{
  box-shadow: inset var(--secondary-color) 0 2px 0.5rem;
}

.experience-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.experience-content{
  display: grid;
  grid-template-columns: 2fr 10px 1fr;
  box-sizing: border-box;
}

.experience-description{
  margin: 0.5rem;
}

.experience-aside{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}

.experience-aside .tech-icon-list{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tech-icon-list.flex-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.flex-down{
  display: flex;
  flex-direction: column;
}
.flex-side{
  display: flex;
  flex-direction: row;
}
.flex-vertical-center{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#social-links{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
#social-links svg{
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border: 1px solid var(--secondary-color);
  border-radius: 20%;
  fill: var(--secondary-color);
  transition: 0.3s all ease;
}
#projects, .dont{
  display: none;
}

.experience-content hr:not(.vertical){
  width: 100%;
}

footer{
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 4%;
  gap: 1rem;
  bottom: 0;
}

footer #social-links svg {
  height: 3rem;
  width: 3rem;
  padding: 0.25rem;
  margin: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 20%;
  fill: var(--secondary-color);
  transition: 0.3s all ease;

}

footer #social-links svg:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px;
  transition: 0.3s all ease;
}

@media (max-width: 992px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-title{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .split{
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  #splash-intro{
    translate: 0 -50%;
    z-index: 100;
  }
  .diamond-container{
    width: 350px;
    height: 350px;
  }
  .experience-menu-container{
    animation: fade-to-left 0.5s forwards linear !important;
  }
  .exp-item{
    grid-template-columns: 1fr;
    width: 90%;
  }
  .exp-content{
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
  }
  .site-header #nav-container{
    display: none;
  }
  .site-header #social-links{
    display: none;
  }
  .site-header #nav-menu-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 20%;
    height: 100% !important;
  }
  .site-header #nav-menu-toggle button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .container-content {
    padding: 1.5rem;
  }
  .mobile-active{
    display: flex !important;
  }
  .experience-content{
    display: grid;
    grid-template-columns: 1fr;
  }
  hr.vertical{
    width: 100%;
  }

}
@media (max-width: 480px) {

  .diamond-container{
    width: 220px;
    height: 220px;
  }
  #splash-outline{
    width: 300px;
    height: 300px;
  }
  .masked-background {
    width: 300px;
    height: 300px;
  }
  h1{
    font-size: 2rem !important;
  }

  #splash-intro{
    font-size: 0.8rem;
    justify-content: center;
    translate: 0 -20%;

  }
  #splash-intro ul {
    flex-direction: column;
  }

  .experience-header, .experience-header *.flex-side, .experience-header *.flex-down{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}
