@font-face {
  font-family: "Oxanium";
  src: url("/assets/fonts/Oxanium.ttf") format("truetype"),
       url("/src/assets/fonts/Oxanium.ttf") format("truetype");
}

@font-face {
  font-family: "Changa";
  src: url("/assets/fonts/Changa.ttf") format("truetype"),
       url("/src/assets/fonts/Changa.ttf") format("truetype");
}
:root {

  /*--primary-color: #242424;*/
  --secondary-color: #118822;
  --secondary-color-opaque: #1188227a;
  /*--secondary-color: #ba8811;*/
  --primary-color: #141a14;
  /*--primary-color: #141414;*/
  --font-color: #fcfcfc;
  --header-color: #141a14f6;


  /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: Changa, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;


  color-scheme: light dark;
  color: var(--font-color);
  background-size: 40px 40px;
  background-image: linear-gradient(to right, var(--secondary-color-opaque) 2px, transparent 1px),
  linear-gradient(to bottom, var(--secondary-color-opaque) 2px, transparent 1px);
  background-color: var(--primary-color);

  animation: cycleBG 10s linear infinite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  text-align: center;
}


*{
  cursor: url("/public/assets/icons/TechnoMouseRevamped.svg") 0 0, auto !important;

}

.pointer-cursor, .pointer-cursor *{
  cursor: url("/public/assets/icons/TechnoMouseRevampedPointer.svg") 0 0, pointer !important;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    animation: none !important;
    transition: none !important;
  }
}

@keyframes cycleBG {
  from {
    background-position: 0 0;
  }
  to{
    background-position: -280px -280px;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212aa;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Oxanium", sans-serif;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#logo {
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  outline: 2px solid var(--secondary-color);
  outline-offset: -2px;
  border-right: 10px solid var(--secondary-color);
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oxanium", sans-serif;
  font-weight: 700;
  text-decoration-thickness: 0;
  min-width: 200px;
  transform: skewX(-20deg);
  transition: 0.2s;

}


#logo:hover {
  transition: 0.2s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  outline: 4px solid var(--secondary-color);
  border-right: 20px solid var(--secondary-color);
}

#logo-span{
  transform: skewX(200deg);
}

#nav-section {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0 2rem;
}

#nav-button {
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  outline: 2px solid var(--secondary-color);
  transition: 0.2s;
}

#nav-button:active{
  background-color: var(--secondary-color);
  transition: 0.2s;
}

#content-body {
  position: relative;
  min-width: 320px;
  margin: 2.5rem auto 0 auto;
  overflow: auto;
  flex-direction: column;
  width: 80vw;
}

.content-section{
  margin: 1rem auto;
  width: 98%;
  max-width: 450px;
  display: flex;
  flex-direction: row;
}

.content-section-header{
  display: flex;
  flex-direction: row;
  justify-items: start;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-family: "Oxanium", sans-serif;
  font-weight: 500;
  width: 100%;
}
.content-section-split{

}

.content-item-label{
  width: 100%;
  justify-content: start;
  display: flex;
  flex-direction: row;
}

.content-items {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

hr.content-section{
  width: 100%;
}

.content-subsection{
  padding: 0;
  box-sizing: border-box;
}

.content-subsection div{
  margin: auto;
  height: 100%;
}

.content-subsection img{
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.content-section-container{
  width: 100%;
}

.image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-container:hover{
  box-shadow: var(--secondary-color);
}

.image-container img{
  border-radius: 10%;
}

.tiny-text{
  font-size: clamp(0.25rem, 2.5vw, 0.75rem);
}

.card {
  padding: 2rem;
  outline: 2px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em 0;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: var(--primary-color);
  box-shadow: var(--secondary-color-opaque) 10px 10px 2px;
  perspective: 1000px;
}


.card:hover {
  outline: 4px solid var(--secondary-color);
  /*transform: scale(1.01);*/
  transition: 0.3s;
  box-shadow: var(--secondary-color) 0 0 1rem;
}

.site-header {
  background-color: var(--header-color);
  color: var(--font-color);
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: 10;
}

.long-tile{
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  margin: 1rem !important;
  padding: 0.25rem !important;
  transition: 0.1s;
}

.long-tile .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 1rem auto;

}
div.long-tile{
  box-shadow: var(--secondary-color) 2px 2px 4px;
}
div.long-tile:hover{
  box-shadow: var(--secondary-color) 0 0 0.65rem;
  scale: 1.02;
  transition: 0.1s ease-in;
  background-color: var(--secondary-color-opaque);

}

.image-container img{
  min-width: 3.25rem;
}

.subtext {
  font-size: 0.8rem;
}

#social-links {
  display: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  transition: border-color 0.25s;
  display: flex;
  justify-items: center;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: auto;
  border-radius: 10%;
  fill: var(--secondary-color);
  transition: 0.3s;
  scale: 1;
}

.tech-icon-list{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-icon-container{
  min-width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-color);
  padding: 8px;
  margin: 0.2rem;
  border-radius: 10%;
  box-shadow: var(--secondary-color) 2px 2px 4px;
  transition: 0.3s;
  background-color: var(--secondary-color-opaque);


}

.tech-icon{
  margin: auto;
  display: flex;
  justify-content: center;
}

.tech-icon-container:hover{
  background-color: var(--secondary-color);
  box-shadow: var(--secondary-color) 0 0 0.65rem;
  transition: 0.3s;
}


@media (min-width: 992px) {

  body {
    overflow: hidden;
  }
  .project {
    max-height: 70% !important;
  }

  #nav-button {
    display: none;
  }
  .content-section {
    display: flex;
    flex-direction: row;
    width: 95%;
    max-width: 100%;
    justify-content: center;
  }
  .content-section-header{
    font-size: clamp(0.75rem, 2.5vw, 1rem);
  }
  .content-subsection{
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0.5rem 0.2rem 1rem;
  }
  #content-body {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    width: 90vw;
    justify-items: start;
    align-items: start;
    margin: 2rem auto !important;
  }
  .content-section-body{
    width: 100%;
  }
  #personal-split{
    overflow: hidden;
  }
  .content-section-split{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .content-items p{
    padding: 0;
    margin: 0;
    font-size: clamp(0.5rem, 2.5vw, 0.85rem);
  }
  .project-section p {
    text-indent: 1rem;
  }


  #profile-pic{
    max-height: 10rem;
    width: auto;
    transition: 0.2s;
  }
  /*.image-container #profile-pic:hover{*/
  /*  max-height: 10rem;*/
  /*  width: auto;*/
  /*  transform: rotateY(10deg);*/
  /*  box-shadow: var(--secondary-color) 4px 0 2px;*/
  /*  transition: 0.2s;*/
  /*}*/

  .long-tile{
    grid-template-columns: 1fr 2fr;
    width: 100%;
    display: grid;
    margin: 0.5rem auto !important;
  }
  .long-tile .image-container {
    margin: auto;
  }
  .card .long-tile {
    box-sizing: border-box;
    max-width: 94%;
  }
  p{
    margin: 0.2rem;
  }
  .subtext{
    font-size: 0.7rem;
    font-weight: lighter;
  }
  p.subtext{
    margin: 0.05rem;
  }
  .maintext{
    font-size: 0.75rem;
  }
  .big-unsplit {
    grid-template-columns: 1fr;
  }

  #social-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #social-links img {
    width: 3rem;
    height: auto;
    border-radius: 10%;
  }
  #social-links svg {
    width: 3rem;
    height: auto;
    border-radius: 10%;
    fill: var(--secondary-color);
    transition: 0.3s;
    scale: 1;
  }

  #social-links svg:hover {
    outline: 1px solid var(--secondary-color);
    transition: 0.3s;
    scale: 1.02;
    box-shadow: var(--secondary-color) 0 0 0.65rem;

  }

  #profile-pic:hover{
    scale: 1.02;
    transition: 0.3s;
  }

  .with-aside {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .card{
    height: 90%;
    padding-left:1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .tech-icon-list{
    /*max-width: 320px;*/
    width: 80%;
  }
}

.selected {
  box-shadow: var(--secondary-color) 0 0 0.65rem !important;
  background-color: var(--secondary-color) !important;
}

.hidden {
  display: none !important;
}

@keyframes fadeInFromTheLeft {
  0%{
    opacity: 0;
    transform: translateX(-10%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromTop {
  /* At the start of the animation (0%), the element is off-screen to the left and invisible */
  0% {
    opacity: 10%;
    /* Move the element 100 pixels to the left of its final position */
    transform: translateY(-100%);
  }
  /* At the end of the animation (100%), the element is in its normal position and fully visible */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-element {
  opacity: 0;
  /* Apply the animation name, duration, and ensure it stays visible after completion */
  animation-name: fadeInFromTop;
  animation-duration: 0.5s; /* Adjust duration as needed */
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.fade-in-element-left {
  opacity: 0;
  animation-name: fadeInFromTheLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

#personal {
  animation-delay: 0.1s;
}
#education {
  animation-delay: 0.2s;
}
#projects {
  animation-delay: 0.3s;
}
.project-content{
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto !important;
  overflow-y: scroll;
}
.project-section p{
  padding: 0 1rem;
}
#project-header{
  position: absolute;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 20;
  align-self: start;

}
#project-header svg {
  margin: 4px 4px;
}
.project{
  height: 50vw;
  justify-content: start;
  align-items: start;
  top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.project-summary{
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex-direction: row;
  width: 100%;
}

.project-section{
  border-bottom: 1px solid var(--secondary-color);
  padding: 1rem 0 2rem 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.project-section :not(.with-aside *){
  max-width: 60vw;
}
.project-section .project-summary{
  max-width: 100vw;
}
.tooltip-container{
  position: relative;
  display: inline-block;
}

.tooltip-body{
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  text-align: center;
  position: absolute;
  bottom: -85%;
  z-index: 10;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
  border-radius: 10%;
  transform: translateX(-20%);
  width: 100%;
  font-size: medium;
  flex-wrap: wrap;
}

.tooltip-container:hover {
  text-decoration: underline;
}

.tooltip-container:hover .tooltip-body{
  visibility: visible;
  opacity: 1;
}

.project-body{
  text-align: start;
}
#project-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.no-copy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}